html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  code {
    font-family: "Fira Code";
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 60rem;
}
.btn {
  margin: 1rem 1rem 1rem 0;
  border: 1px solid $light-grey $twitter-blue;
  padding: 0.8rem;
  background-color: $blue;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  &:hover {
    background-color: $twitter-blue;
  }
}
