---
import "@fontsource-variable/overpass-mono";
---

<article class="prose lg:prose-xl">
  <h1 class="text-3xl font-extrabold">Hey there!</h1>
  <br />
  <p>
    Welcome to my little corner of the internet! I'm <b>Boris</b>, but I go by
    the pseudonym <b>silverhairs</b>
    <span class="text-orange-700">/ˈsɪlvərˌhɛrz/</span> on the web. <br /> This
    website is a collection of the things that capture my interest and keep me
    entertained. If you're up for it, check out some of the articles I've
    written. They are usually about computers, anime, engineering, and sometimes
    totally random subjects. I hope you'll find them a good read. So kick back,
    explore, and enjoy the ride!
  </p>
  <p>
    To contact me, you can reach out on <a
      class="underline"
      href="https://twitter.com/silverhairs7">twitter</a
    >, <a href="https://linkedin.com/in/iamboriskayi" class="underline"
      >linkedin</a
    >
     or send me an email at
    <a
      href="mailto:hello@silverhairs.engineer"
      target="_blank"
      class="underline">hello@silverhairs.engineer</a
    >
  </p>
</article>

<style>
  article {
    font-family: "Overpass Mono Variable";
  }
</style>
