.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid $light-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      ul {
        display: flex;
        list-style: none;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          padding-left: 1rem;
          a:hover {
            color: $blue;
          }
        }
      }
    }
  }
  main {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
      width: 100%;
      .profile-head {
        padding-top: 2rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 5fr;
        .picture {
          width: fit-content;
          display: flex;
          flex-direction: column;
          justify-content: center;
          img {
            border-radius: 50%;
            border: 1px solid $light-grey !important;
          }
        }
        .bio {
          h1 {
            margin: 0;
          }
          .body {
            line-height: 1.6;
            a {
              text-decoration: underline;
              &:hover {
                color: $blue;
              }
            }
          }
        }
      }
      .doing-now {
        .date {
          font-size: 14px;
          font-style: italic;
          font-weight: normal;
        }
        ul {
          list-style: none;
          padding: 0;
          li {
            .emoji {
              padding-right: 10px;
            }
            padding-bottom: 0.5rem;
            a {
              text-decoration: underline;
              &:hover {
                color: $blue;
              }
            }
          }
        }
      }
      .drawers {
        height: 37vh;

        .tabs {
          border: 1px solid $light-grey;
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
          height: 100%;
          .drawers-header {
            background-color: $light-grey;
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            border: 1px solid $light-grey;
            .tab {
              cursor: pointer;
              margin: 0;
              padding: 10px 0;
              height: 100%;
              text-align: center;
              color: rgba(black, 0.5);
            }
            .active-tab {
              background-color: $grey;
              border-radius: 4px;
              color: black;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .profile-head {
    display: flex !important;
    flex-direction: column;
    align-items: center;

    .bio {
      h1 {
        text-align: center;
      }
      .body {
        text-align: justify;
      }
    }
  }
}
