.silverbook {
  .stories {
    ul {
      list-style: none !important;
      padding-left: 0;
      padding-right: 0;
      li {
        cursor: pointer;
        border: 1px solid $light-grey;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 0.5rem;
        .footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            color: $gray;
          }
        }
        &:hover {
          background-color: $light-grey;
        }
      }
    }
  }
}
